<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njusc.npm.metadata.dao.mapper.TLogDao">

    <select id="getLogs" parameterType="java.util.Map" resultType="com.njusc.npm.metadata.entity.TLogEntity">
        select l.id id,u.user_name userName, l.operation_remark operationRemark, l.INSERT_DATE insertTime
        from TAB_LOG l, TAB_USER u
        where l.insert_user = u.id and
        u.isdel = 0 and
        l.isdel = 0
        <if test="null !=userName and  ''!=userName">
            and u.user_name like '%${userName}%'
        </if>
        <if test="null!=startTime and ''!=startTime">
            and date_format(l.INSERT_DATE,'%y%m%d') >= date_format(#{startTime},'%y%m%d')
        </if>
        <if test="null!=endTime and ''!=endTime">
            and date_format(#{endTime},'%y%m%d') >= date_format(l.INSERT_DATE,'%y%m%d')
        </if>
        order by l.INSERT_DATE desc
    </select>


    <sql id="startTime">
        <![CDATA[
        AND (DATE_FORMAT(a.INSERT_DATE, '%Y-%m-%d') >= DATE_FORMAT(
        #{startTime},
        '%Y-%m-%d'
        )
        )
        ]]>
    </sql>

    <sql id="endTime">
        <![CDATA[
        AND (DATE_FORMAT(a.INSERT_DATE, '%Y-%m-%d') <= DATE_FORMAT(
        #{endTime},
        '%Y-%m-%d'
        )
        )
        ]]>
    </sql>


    <select id="find" parameterType="java.util.Map" resultType="com.njusc.npm.metadata.entity.TLogEntity">
        <include refid="findSql"/>
    </select>


    <select id="findAll" parameterType="java.util.Map" resultType="com.njusc.npm.metadata.entity.TLogEntity">
        <include refid="findSql"/>
        order by INSERT_DATE desc
    </select>


    <insert id="save" parameterType="com.njusc.npm.metadata.entity.TLogEntity">
        insert
        <include refid="saveSql"/>
        values (
        #{id},
        #{operationRemark},
        #{insertDate},
        #{insertUser},
        #{isdel}
        )
    </insert>


    <insert id="saveAll" parameterType="java.util.List">
        insert
        <include refid="saveSql"/>
        values
        <foreach collection="list" item="data" separator=",">
            (
            #{data.id},
            #{data.operationRemark},
            #{data.insertDate},
            #{data.insertUser},
            #{data.isdel}
            )
        </foreach>

    </insert>

    <update id="updateAll" parameterType="java.util.List">

        <foreach collection="list" item="data" separator=";">
            update TAB_LOG set
            operation_remark = #{data.operationRemark},
            isdel=#{data.isdel}
            where id = #{data.id}
        </foreach>

    </update>

    <delete id="delete" parameterType="java.lang.String">
        <include refid="deleteSql"/>
        where
        <!-- 单个参数，使用内置对象判断 -->
        <if test="null != _parameter and '' != _parameter">
            id = #{id}
        </if>
    </delete>

    <delete id="deleteAll" parameterType="java.lang.String">

        <include refid="deleteSql"/>
        where
        id in
        <foreach close=")" collection="list" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </delete>


    <update id="update" parameterType="com.njusc.npm.metadata.entity.TLogEntity">
        update TAB_LOG
        set operation_remark = #{operationRemark},
            isdel=#{isdel}
        where id = #{id}
    </update>

    <sql id="saveSql">
        into TAB_LOG
    (
                        id,
                                 operation_remark,
                                             INSERT_DATE,
                                 insert_user,
                   isdel
    )
    </sql>

    <sql id="deleteSql">
        update TAB_LOG
        set isdel=1
    </sql>

    <sql id="findSql">
        select
        a.id id,
        a.operation_remark operationRemark,
        a.INSERT_DATE insertTime,
        a.insert_user insertUser,
        a.isdel
        from TAB_LOG a
        where a.isdel=0
        <if test="null != id and '' != id">
            and a.id = #{id}
        </if>
        <if test="null != operationRemark and '' != operationRemark">
            and a.operation_remark = #{operationRemark}
        </if>

    </sql>

</mapper>