<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njusc.npm.metadata.dao.mapper.TUserRoleDao">
    <select id="find" parameterType="java.util.Map" resultType="com.njusc.npm.metadata.entity.TUserRoleEntity">
        <include refid="findSql"/>
    </select>


    <select id="findAll" parameterType="java.util.Map" resultType="com.njusc.npm.metadata.entity.TUserRoleEntity">
        <include refid="findSql"/>
        order by INSERT_DATE desc
    </select>


    <insert id="save" parameterType="com.njusc.npm.metadata.entity.TUserRoleEntity">
        insert
        <include refid="saveSql"/>
        values (
        #{ id},
        #{ roleId},
        #{ userId},
        #{ insertTime},
        #{ insertUser},
        #{isdel}
        )
    </insert>

    <insert id="saveAll" parameterType="java.util.List">
        insert
        <include refid="saveSql"/>
        values
        <foreach collection="list" item="data" separator=",">
            (
            #{data.id},
            #{data.roleId},
            #{data.userId},
            #{data.insertTime},
            #{data.insertUser},
            #{data.isdel}
            )
        </foreach>

    </insert>

    <update id="updateAll" parameterType="java.util.List">

        <foreach collection="list" item="data" separator=";">
            update TAB_USER_ROLE set
            role_id = #{data.roleId},
            user_id = #{data.userId},
            isdel=#{data.isdel}
            where id = #{data.id}
        </foreach>

    </update>

    <delete id="delete" parameterType="java.lang.String">
        <include refid="deleteSql"/>
        where
        <!-- 单个参数，使用内置对象判断 -->
        <if test="null != _parameter and '' != _parameter">
            id = #{id}
        </if>
    </delete>

    <delete id="deleteAll" parameterType="java.lang.String">

        <include refid="deleteSql"/>
        where
        id in
        <foreach close=")" collection="list" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </delete>


    <update id="update" parameterType="com.njusc.npm.metadata.entity.TUserRoleEntity">
    update  TAB_USER_ROLE
    set
                                    role_id = #{roleId},
                                user_id = #{userId},
                                                   isdel=#{isdel}
    where  id = #{id}
</update>

    <sql id="saveSql">
     into TAB_USER_ROLE
    (
                        id,
                                 role_id,
                                 user_id,
                                             INSERT_DATE,
                                 insert_user,
                   isdel
    )
</sql>

    <sql id="deleteSql">
    update TAB_USER_ROLE set isdel=1
</sql>

    <sql id="findSql">
        select
        a.id id,
        a.role_id roleId,
        a.user_id userId,
        a.INSERT_DATE insertTime,
        a.insert_user insertUser,
        a.isdel
        from TAB_USER_ROLE a
        where a.isdel=0
        <if test="null != id and '' != id">
            and a.id = #{id}
        </if>
        <if test="null != roleId and '' != roleId">
            and a.role_id = #{roleId}
        </if>
        <if test="null != userId and '' != userId">
            and a.user_id = #{userId}
        </if>

    </sql>

</mapper>